<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  id="WebApp_ID" version="4.0">
  <display-name>3CHAN</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>


  <servlet>
    <servlet-name>AuthorServlet</servlet-name>
    <servlet-class>controller.AuthorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorServlet</servlet-name>
    <url-pattern>/author</url-pattern>
  </servlet-mapping>

  
  <servlet>
    <servlet-name>ArticlePageServlet</servlet-name>
    <servlet-class>controller.ArticlePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticlePageServlet</servlet-name>
    <url-pattern>/article</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>PendingCommentServlet</servlet-name>
    <servlet-class>controller.PendingCommentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PendingCommentServlet</servlet-name>
    <url-pattern>/article/pending</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ArticleServlet</servlet-name>
    <servlet-class>controller.ArticleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticleServlet</servlet-name>
    <url-pattern>/articles</url-pattern>
  </servlet-mapping>

</web-app>